body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1.25rem;
    background: #f4f4f4;
}

.main-container {
    max-width: 62.5rem;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem #0000001a;
}

.btn-voltar {
    padding: 0.5rem 1rem;
    background-color: #444444;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background 0.3s, transform 0.1s;
}

.btn-voltar:hover {
    background: #555555;
    transform: translateY(-0.125rem);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1rem auto;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background: #808080;
    border-radius: 0.3125rem;
    transition: background 0.3s, transform 0.1s;
}

button:hover {
    background: #555555;
    transform: translateY(-0.125rem);
}

button:active {
    transform: translateY(0.125rem);
}